<h2>検索結果</h2>

<% if @topics.any? %>

  <% @topics.each do |topic| %>
    <%= image_tag topic.image,size: "200x200" %>
    <%= link_to topic_path(topic.id) do %>
    <%= topic.title %>
    <% end %>
    <%= topic.user.name %>
  <% end %>

<% else %>
  <p>該当するものはありません。</p>
<% end %>
