<%= form_with model: [topic, topic_comment], class: "my-4" do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "ボケを入力してください", class: "form-control mb-2" %>
    <%= f.submit "ボケる！", class: "btn btn-primary" %>
  <% end %>
</div>